@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

:root {
    --my-padding:0.4rem
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    color: white;
    font-family: 'Rubik', sans-serif;
    display: grid;
    gap: 0;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 2fr 1fr 1fr 0.75fr;
    grid-template-areas:
    "header menu"
    "hero hero"
    "main image"
    "main extra"
    "banner banner";
    height: 100vh;
    text-align: center;
    text-transform: uppercase;
    }

   header {
        align-items: center;
        display: grid;
        background-color: black;
        grid-area: header;
        padding: var(--my-padding);
    } 

   menu {
        align-items: center;
        display: grid;
        background-color: red;
        grid-area: menu;
        padding: var(--my-padding);
    } 

    .hero {
        align-items: center;
        display: grid;
        background-color: rgb(124, 124, 221);
        grid-area: hero;
        padding: var(--my-padding);
    }

    main {
        align-items: center;
        place-items: end center;
        display: grid;
        background-color: rgb(71, 16, 16);
        grid-area: main;
        padding: var(--my-padding);
        grid-template-rows: 1fr 1fr;
    }

    .image {
        align-items: center;
        display: grid;
        background-color: rgb(0, 204, 255);
        grid-area: image;
        padding: var(--my-padding);
        grid-template-rows: 1fr;
    }

    .extra {
        align-items: center;
        display: grid;
        background-color: green;
        grid-area: extra;
        padding: var(--my-padding);
    }

    .banner {
        align-items: center;
        display: grid;
        background-color: orange;
        grid-area: banner;
        padding: var(--my-padding);
}

@media (max-width: 1024px) {

    .container {
     grid-template-columns: 0.5fr 1fr 1fr;
    grid-template-rows: 0.5fr 2fr 1fr 1fr 0.75fr;
    grid-template-areas:
    "header header header"
    "hero hero hero"
    "menu main main"
    "menu banner banner"
    "menu extra image";   
    }
}

@media (max-width: 480px) {
    .container {
        grid-template-columns: 1fr;
       grid-template-rows: 0.5fr 1fr 1.5fr 2fr 1fr 1fr 1fr;
       grid-template-areas:
       "header"
       "menu"
       "hero"
       "main"
       "banner"
       "extra"
       "image";   
       }
}